@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

Body {
    font-family: 'Young Serif', serif;
    background: linear-gradient(90deg, #cc5ffc, #8954ee);
    text-align: center;
    
}

.container {
    background-color: #f6e2fd;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 1 1 15px rgba(11, 11, 11, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 26px;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid #5b4e4e;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color:  #8954ee;
    color: #f3ebf0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0 0;
    border-bottom: 1px solid #19061a;
}

.delete {
    color:rgb(99, 76, 80);
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
    
}
